@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-background {
  background: url("./assets/HomePage/background.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 95%;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #202225 #2f3136;
}
.scrollable::-webkit-scrollbar {
  width: 7px;
}
.scrollable::-webkit-scrollbar {
  background: #1a1a1b;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}